.cart-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    right: 20px;
    top: 100px;
    width: 400px;
    max-height: 600px;
    z-index: 3;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 1);
    overflow: auto;

    h2 {
        color: #00303C;
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .cart-item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 90px;
            height: 90px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            width: 50%;
            font-weight: 500;

            p {
                margin: 0;
                font-size: 15px;
                color: #00303C;
            }
        }

        button {
            background: rgba(224, 21, 21, 0.81);
            cursor: pointer;
            border: none;
            width: 25px;
            height: 25px;
        }
    }

    .cart-options {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        padding: 15px 0;

        .total-price {
            font-size: 20px;
            font-weight: 600;
            color: #00303C;
        }

        button {
            max-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: fit-content;
            background-color: #FFFFFF;
            border-radius: 54px;
            font-weight: 500;
            font-size: 14px;
            line-height: 29px;
            transition: transform 0.4s ease-in-out;
            border: 1px solid #00303C;
        }

        button:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}