.extractor-wrapper {
    margin-top: 180px;
    height: auto;
    gap: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../../assets/Subtract111.png);
    background-repeat: no-repeat;
    background-position: center;

    .extractor-header {
        width: auto;
        height: auto;

        h1 {
            margin: 0;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            color: #00303C;
        }
    }

    .extractor-cards {
        display: flex;
        gap: 5.20%;
        height: auto;
        justify-content: center;
        align-items: center;

        .extractor-left, .extractor-center, .extractor-right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 40px;
            width: min-content;
            height: 575px;
            background: rgba(255, 255, 255, 0.1);
            border: 3px solid #FFC600;
            backdrop-filter: blur(20px);
            border-radius: 30px;

            img {
                width: 347px;
                height: 321px;
                margin: 20px 20px 0 20px;
            }

            h2 {
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: #00303C;
                margin: 0 20px;
            }

            span {
                width: 347px;
                border: 1px solid #00303C;
                margin: 0 20px;
            }

            h3 {
                padding-bottom: 40px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #00303C;
                opacity: 0.5;
                margin: 0 20px;
            }
        }
    }
}
@media screen and (max-width: 1360px){
    .extractor-wrapper{
        background: none;
        .extractor-cards{
            width: 100%;
            background: url(../../assets/yellow-background-elipse.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            gap: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
@media screen and (max-width: 400px){
    .extractor-wrapper{
        margin-top: 80px;
        gap: 40px;
        .extractor-header{
            h1{
                font-size: 20px;
                line-height: 24px;
            }
        }
        .extractor-cards {
            .extractor-left, .extractor-center, .extractor-right {
                gap: 25px;
                height: 446px;
                img {
                    align-self: center;
                    width: 232px;
                    height: 232px;
                    margin: 20px 20px 0 20px;
                }
    
                h2 {
                    font-size: 18px;
                    line-height: 22px;
                }
    
                span {
                    width: 243px;
                }
    
                h3 {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
}