.industry-wrapper {
    margin-top: 107px;
    height: auto;
    background: url(../../assets/Subtract.png);
    background-repeat: no-repeat;
    background-size: cover;

    .industryLeader {
        height: 640px;
        position: relative;
        display: flex;
        gap: 148px;
    

        .industry-left {
            display: flex;
            flex-direction: column;
            gap: 50px;

            span {
                margin-top: 8.33%;
                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                color: #00924B;
            }

            h1 {
                font-weight: 700;
                font-size: 48px;
                line-height: 59px;
                margin: 0;
            }

            button {
                border: 4px solid #00303C;
                color: #00303C;
            }
        }
        .right-side {
            position: absolute;
            display: flex;
            right: -2.70%;
            top: -8%;

            img {
                width: 100%;
                height: 100%;
                object-fit: none;
            }
        }
    }
}
@media screen and (max-width: 1650px) {
    .industry-wrapper {
        .industryLeader{
            gap: 90px;
            .industry-left{
                span {
                    font-size: 28px;
                    line-height: 30px;
                }
    
                h1 {
                    font-size: 36px;
                    line-height: 50px;
                }
    
                button {
                    padding: 15px 40px;
                    font-size: 16px;
                }
            }
            .right-side{
                right: -2.70%;
                top: -20%;
            }
        }
    }    
}   
@media screen and (max-width: 1560px){
    .industry-wrapper{ 
        padding: 0;
        background: none;
        margin-top: 60px;
        height: auto;
        .industryLeader{
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
            margin: 0;

            .industry-left{
                width: 100%;
                background: url(../../assets/Subtract.png);
                background-repeat: no-repeat;
                background-size: cover;
                gap: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    margin-top: 50px;
                }

                h1{
                    font-size: 30px;
                }
                button{
                    max-width: fit-content;
                }
            }

            .right-side {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                >:nth-child(1){
                    width: 65%;
                    height: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 850px) {
    .industry-wrapper{
        .industryLeader{
            .industry-left{
                span{
                    font-size: 22px;
                    line-height: 26px;
                }
                h1{
                    font-size: 24px;
                    line-height: 36px;
                }
                button {
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 650px){
    .industry-wrapper{
        .industryLeader{
            .industry-left{
                span{
                    font-size: 20px;
                    padding: 0 20px;
                    text-align: center;
                }
                h1{font-size: 20px;
                    line-height: 30px;
                    padding: 0 20px;
                    text-align: center;
                }
            }
            .right-side{
                margin-right: 15px;
            }
        }
    }
}
    
