.machine-wrapper {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 80px;

    .machine-header {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            color: #00303C;
        }
    }

    .machine-holder {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background: url(../../assets/sub123.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        >:nth-child(1){
            position: absolute;
            width: 293.3px;
            height: 430.83px;
            left: 15%;
            top: 40%;
        }

        >:nth-child(2){
            position: absolute;
            width: 367.28px;
            height: 535.92px;
            right: 10%;
            top: -5%;
        }

        .machine-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: min-content;
            height: auto;
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 48, 60, 0.1);
            border-radius: 30px;
            gap: 40px;
            padding-bottom: 40px;

            >:nth-child(1) {
                width: 347px;
                height: 321px;
                margin: 20px 20px 0 20px;
            }

            >:nth-child(2){
                width: 347px;
                margin: 0 20px;
            }

            p {
                margin: 0 20px 0 17px;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
            }

            h1 {
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                align-self: center;
                color: #00303C;
                margin: 0;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 50px;
                width: max-content;
                align-self: center;
                height: 75px;
                background: #FFC600;
                border-radius: 5px;
                font-weight: 700;
                font-size: 24px;
                border: none;
                color: white;
                line-height: 29px;
                transition: transform 0.4s ease-in-out;
            }
            button:hover{
                transform: scale(1.1);
                background: #FFFFFF;
                color: #FFC600;
                border: 3px solid #FFC600;
            }
            
        }
    }
}
@media screen and (max-width: 1380px){
    .machine-wrapper{
        margin-top: 60px;
        .machine-header{
            h1{
                font-size: 30px;
                padding: 0 20px;
            }
        }
        .machine-holder{
            >:nth-child(1){
                display: none;
            }
            >:nth-child(2){
                display: none;
            }
        }
    }
}
@media screen and (max-width: 460px){
    .machine-wrapper{
        gap: 40px;
        margin-top: 80px;
        .machine-header{
            width: 90%;
            h1{
                padding: 0 20px;
                margin: 0;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #00303C;
            }
        }
        .machine-holder {
            .machine-card {   
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                >:nth-child(1) {
                    width: 232px;
                    height: 239px;
                }
    
                >:nth-child(2){
                    width: 204px;
                    align-self: center;
                }
    
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
    
                h1 {
                    font-size: 32px;
                    line-height: 39px;
                }
    
                button {
                    padding: 30px 50px;
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }
}