body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 0 160px;

    @media screen and (max-width: 900px) {
        padding: 0 20px;
    }
}

.primary {
    max-height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    width: fit-content;
    background-color: #FFFFFF;
    border-radius: 54px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
