.benefits-wrapper {
    margin-top: 180px;
    margin-left: 8.33%;
    margin-right: 8.33%;
    display: flex;
    align-items: center;
    gap: 5.25%;
    height: auto;

    .hidden-benefits {
        display: none;
    }

    .benefits-image {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background: rgba(255, 255, 255, 0.1);
        border: 3px solid #FFC600;
        border-radius: 30px;

        img {
            padding: 20px;
        }
    }

    .benefits-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;

        h1 {
            margin: 0;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            color: #00303C;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            margin: 0;
        }

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #00303C;
            margin: 0;
        }

        .options {
            display: flex;
            gap: 15px;
            height: 14px;
            max-width: fit-content;

            >:nth-child(1)>span, :nth-child(3)>span{
                color: #00924B;
            }

            >:nth-child(2)>span, :nth-child(4)>span {
                color: #FFC600;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                max-width: fit-content;
            }
        }    

        button {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px 50px;
            width: max-content;
            background: #FFFFFF;
            border: 4px solid #00924B;
            border-radius: 54px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #00924B;
        }
    }
}

@media screen and (max-width: 1650px) {
    .benefits-wrapper{
        .benefits-text{
            gap: 30px;
            h1 {
                font-size: 36px;
            }
            p {
                font-size: 16px;
            }
            h3{
                font-size: 20px;
            }
            .options{
                p{
                    font-size: 12px;
                }
            }
            button {
                padding: 15px 40px;
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 1360px) {
    .benefits-wrapper{
        gap: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .benefits-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .benefits-wrapper{
        .benefits-image{
            width: 95%;

            img {
                width: -webkit-fill-available;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .benefits-wrapper{
        margin-top: 80px;
        
        .hidden-benefits{
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1{
                margin: 0;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #00303C;
            }
        }

        .benefits-text{
            justify-content: flex-start;
            align-items: flex-start;
            h1{
                display: none;
            }
            p {
                font-size: 14px;
                line-height: 17px;
                display: contents;
            }
            h3{
                font-size: 16px;
                line-height: 20px;
            }

            button {
                padding: 20px 27px;
                font-size: 16px;
                line-height: 20px;
            }

            .options {
                gap: 13px;
                p {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

    }
}